<ion-content [fullscreen]="true">
  <app-menu></app-menu>

  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/7c/59/2b/7c592b7543418f49564bf864bca76b46.jpg">
    </ion-col>

    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/44/ce/7e/44ce7ee79e66378c358a8922ab5404f5.jpg">
    </ion-col>

    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/fd/21/81/fd2181a15c176779a920dc43571f19c3.jpg">
    </ion-col>
  </ion-row>

</ion-content>
